/**
* @name Sandis Farsi
* @author !                              !#1343
* @authorLink https://github.com/MasterBehzadi
* @description Farsi-Saz Discord (Persian Extension Pack)
* @version 1.1
* @source https://github.com/MasterBehzadi/SandisFarsi
* @updateUrl https://raw.githubusercontent.com/MasterBehzadi/SandisFarsi/main/SandisFarsi.user.css
*/

@font-face {
    font-family: 'IranSans';
    src: url('https://cdnq.github.io/font/IRANSansWeb/IRANSansWeb.woff');
}
* {
    font-family: "IranSans"!important;
}
.hljs,
.inline,
.hljs :-webkit-any(ol, li, span),
.editor-wrapper :-webkit-any(textarea, div, span) {
font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace!important;
}
